.eyecatchmiddle {
  background-attachment: local;
  background-image: url(../public/images/hero.png);
  background-position: 90% 50%;
  background-repeat: no-repeat;
  background-size: 330px;
  height: 384px;
  width: 100%;
}

.eyecatchpc {
  background-attachment: local;
  background-image: url(../public/images/hero.png);
  background-position: 90% 50%;
  background-repeat: no-repeat;
  background-size: 550px;
  height: 560px;
  width: 100%;
}

.eyecatchsp {
  background-attachment: local;
  background-image: url(../public/images/hero.png);
  background-position: 50% 60%;
  background-repeat: no-repeat;
  background-size: 250px;
  height: 280px;
  width: 100%;
}
