.futurepc {
  background-attachment: local;
  background-image: url(../public/images/bg-future.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 595px;
  width: 100%;
}

.futuresp {
  background-attachment: local;
  background-image: url(../public/images/bg-future-sp.png);
  background-repeat: no-repeat;
  background-size: cover;
  // height: 675px;
  width: 100%;
}
