.post {
  & > h1 {
    border-radius: 5px;
    font-size: 30px;
    font-weight: bold;
    margin: 40px 0 20px;
    padding: 10px 20px;
  }

  & > h2 {
    border-bottom: 1px solid #ddd;
    font-size: 24px;
    font-weight: bold;
    margin: 40px 0 16px;
  }

  & > h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 40px 0 16px;
  }

  & > h4 {
    font-size: 18px;
    font-weight: bold;
    margin: 32px 0 16px;
  }

  & > h5 {
    font-size: 16px;
    font-weight: bold;
    margin: 24px 0 16px;
  }

  & > p {
    letter-spacing: 0.2px;
    line-height: 1.8;
  }

  & > ol {
    list-style-position: inside;
    list-style-type: decimal;
  }

  & > pre {
    background: #25292f;
    border-radius: 5px;
    color: #fff;
    margin: 1em 0;
    -webkit-overflow-scrolling: touch; /* ⭐ */
    overflow-x: auto; /* ⭐ */
    padding: 1em;
    text-align: left;
  }
}
