.skillsp {
  background-attachment: local;
  background-image: url(../public/images/bg-skills-sp.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 85px;
  padding-top: 40px;
  width: 100%;
}

.skillpc {
  background-attachment: local;
  background-image: url(../public/images/bg-skills.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 691px;
  width: 100%;
}
